
<section class="hero-section">
    <div class="container hero-social">
        <h1 class="header-hello">
            Hello.<br />
            I’m Fullstack developer<br />
            Lloyd Jefferson.
        </h1>
        <ul class="social-networks-of-contacts">
            <li class="social-networks">
                <a class="ig-fb-gi" href="https://www.instagram.com/goitclub/">IG</a>
            </li>
            <li class="social-networks">
                <a class="ig-fb-gi" href="https://www.facebook.com/goITclub/">FB</a>
            </li>
            <li class="social-networks">
                <a class="ig-fb-gi" href="https://www.youtube.com/c/GoIT">YT</a>
            </li>
            <li class="social-networks">
                <a class="ig-fb-gi" href="https://github.com/View-bl">GH</a>
            </li>
            <li class="email-social">
                <a class="email-mailto" href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
            </li>
        </ul>
    </div>
</section>
